/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
  font-size: 18px;
	color: @volume;
}
#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
  font-size: 18px;
	background-color: @volume;
	color: @backlight;
}
#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
  font-size: 18px;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
  font-size: 18px;
	color: @battery;
}
