* {
	font-size: 14px;
	font-family: monospace;
	padding: 0px 2px;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
	border: 1px solid #d4b449; 
	border-width: 0 0 0 0;
	background-color: rgba(20,21,23, 0.85);
	border-top: 0px;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#memory,
#cpu,
#disk,
#battery,
#network,
#pulseaudio {
	background: #1a1a1a;
}

#tray {
	margin: 0px 5px;
}

#clock.1 {
	border: 0px solid #d4b449;
	border-width: 0px 0px 0px 0px;
}

#clock.3 {
	border: 0px solid #d4b449;
	border-width: 0px 1px 0px 0px;
}

#clock.2 {
  border: 0px solid #d4b449;
  border-width: 0px 0px 0px 0px;
}

#workspaces {
	border: 1px solid #d4b449; 	
	border-bottom: 0px;
	border-left:0px;
	border-right:0px;
	border-radius: 0px;
}


#workspaces button {
	padding: 0px 8px;
	margin: 0px 0px;
	color: #fdf6e3;	
	border: 1px solid #d4b449; 	
	background: #1a1a1a;
	border: #1a1a1a;
	opacity:1;
}

#workspaces button:hover {
	color: #d4b449;
	box-shadow: inherit;
	text-shadow: inherit;	
}

#workspaces button.active {
	color: #0655aa;
}

#workspaces button.visible {
	color: #d4b449
}

#name {
  font-size: 3px;
}

#pipewire {
	color: #268bd2;
	opacity:1;
}
#memory {
	color: #2aa198;
	opacity:1;
}
#cpu {
	color: #6c71c4;
	opacity: 1;
}
#battery {
	color: #859900;
	opacity:1;
}
#disk {
	color: #b58900;
	opacity:1;
}

#network {
	margin-right: 2px;
	padding-right: 5px;
	color: #188BC8;	
	border: 0px solid #d4b449;
	border-width: 0px 0px 0px 0px;
	opacity:1;
}
#pulseaudio {
	padding-left: 5px;
	border: 0px solid #d4b449;
	border-width: 0px 0px 0px 1px;
	opacity:1;
}

#clock,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 8px;
	opacity:1;
}

#custom-left-arrow-dark {
	color: #1a1a1a;
}

#custom-right-arrow-dark {
	color: #1a1a1a;
}
